@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


a {
/*
    text-decoration: underline;
*/
    font-weight: bold;
    font-family: "Space Mono";
}

.ablog__collection .ablog-post ul.ablog-archive {
    font-size: 1em !important;
}

html {
    --pst-sidebar-font-size: 1.1em;
    --pst-font-family-heading: "Space Mono";
    --pst-font-family-base: 'Ubuntu', var(--pst-font-family-base-system);
}

/* anything related to the light theme */
html[data-theme="light"] {

    /* whatever you want to change */
    --pst-color-muted: #35236c;
    --pst-color-link: #2373ad;
    
    background: white;
}

/* anything related to the dark theme */
html[data-theme="dark"] {

    /* whatever you want to change */
    --pst-color-muted: #13cd3c;
    --pst-color-link: #e59191;
    --pst-color-text-base: #e1e1e1;
    
    background: black;
}
